body {

}
div {
            width: 100px;
            height: 100px;
            background: red;
            position: relative;
            -webkit-animation: myanimation 10s infinite;
        }

        @-webkit-keyframes myanimation {
            from {
                width: 100px;
                height: 100px;
                left: 100px;
                background: red;
                -webkit-transform: rotate(0deg);
            }
            to {
                width: 10px;
                height: 10px;
                left: 650px;
                background: blue;
                -webkit-transform: rotate(360deg); 
            }
        }
