        /*navigation bar*/
        #navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color:black;
            overflow: hidden;
        }
        #navbar li {
            float: left;
            font-family:Papyrus;
            font-weight:bold;
            font-size:20px;
        }
        #navbar a:hover {
            color:white;
            background-color:black;
        }
        #navbar li ul{
            position: absolute;
            z-index: 100;
            background-color:black;
            color:#adf59c;
            display:none;
            
        }
        #navbar li:hover ul{
            display:block;
        }
        #navbar li ul li{
            clear:both;
            display:block;
        }
        #navbar a:link,#navbar a:visited {
            display: block;
            width: 150px;
            height: 30px;
            background-color: black;
            color:#adf59c;
            text-decoration:none;
            text-align:center;
        }
        body{
            /*background-color:#adf59c;*/
            background-color:#0b3446;
            color:white;
            max-width:100%;
        }
        /*fair status selected - radio buttons*/
        #fairStatus{
            max-width:100%;
            background-color:black;
            color:#adf59c;
            text-align:center;
            font-weight:bolder;
            font-style:oblique;
            text-transform:uppercase;
        }
        /*fairName styling*/
        .fairName{
            max-width:100%;
            background-color:#adf59c;
            color:black;
            text-align:center;
            font-weight:bolder;
            font-style:oblique;
            text-transform:uppercase;
        }
        /*fair description styling(if available)*/
        .about{
            text-align:justify;
            margin:3%;
        }
        /*dates*/
        .dates{
            text-align:center;
        }